html{
    font-family: Helvetica, Verdana, Arial, sans-serif; /*Default font styles*/
}

h1, h2, h3, h4, h5, h6{
    font-weight: 700; /*set the boldness for the <h> tag*/
}

h2{
    font-size: 32px;
}
h3{
    font-size: 24px;
}
h4{
    font-size: 20px;
}
h5{
    font-size: 14px;
    margin: 0 0 15px 0;
}
p{
    font-size: 12px;
}
main{
    padding: 15px;
}