.woocommerce-notices-wrapper{

    .woocommerce-message{
        border-top-color: #000;

        .wc-forward{
            color: #000;
        }
        .wc-forward:hover{
            color: #e7d93a;
        }
    }

}