.woocommerce-tabs{
    width: 100%;
    border-bottom: 2px solid #000000;
    a{
        color: #000;
    }
    .tabs{
        width: 100%;
    }
    ul{
        list-style-type: none;
        display: flex;
        padding: 0;
        width: 100%;
        li{
            margin: 0 10px 0 10px;
            padding: 10px 5px;
        }
        li:hover{
            transition: 0.2s;
            border-bottom: 4px solid #000;
        }
    }
    .active{
        border-bottom: 4px solid #000;
    }
    #tab-description{
        p{
            margin: 20px 0 40px 0;
        }
    }
    
}
 
  